@import url("reset.css");
@import url("type.css");


/* Filmstrip nav ----------------------------------------------*/
#menu {
	background-image: url('../images/asphalt.jpg');
	position: fixed;
	border: 1px solid #000;
	padding: 20px;
	z-index: 500;
	width:3000px;
}

#menu ul li{
	list-style-type: none;
	color: #777;
	float:left;
	padding: 0;
	width:67px; 
	height:60px;
}

#menu ul li a:link, #menu ul li a:visited{
	text-decoration: none;
}

/* eff, this is just not working. how to indicate on hover? */
#menu img {
    filter: url(filter.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    opacity:0.9;
}

#menu a img {
	filter: none;
    -webkit-filter: grayscale(0);
    opacity:1.0;
}

#menu a img:hover {

}


/* horizontal layout --------------------------------*/
#container {
	position: absolute;
	top: 95px; left: 40px;
	width: 6000px;
	height:740px;
	overflow:hidden;
}

.box {
	width: 1020px;
	float: left;
	line-height: 22px;
	padding: 35px 100px 30px 100px;
	height:100%;
	border-right: 1px solid rgba(255,255,255,0.3); 
	border-left: 1px solid rgba(0,0,0,0.4); 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.box .entry {
	width:40%;
	float:left;
}

/* footnotes -----------------------------------------*/
.notes {
	padding: 10px;
}

.notes li {
	padding: 10px 5px;
}

.ftn {

}


/* First panel ---------------------------------------*/
header {
	width: 1920px;
	float: left;
	margin: 0 15px 0 0;
	padding: 30px 30px 0 0;
}

#email {
	margin:60px auto 0;
	padding-top: 5px;
	border-top: 1px solid #ccc;	
	width:70%;
	max-width:670px;
}

#emailbody {
	border: 1px solid #ccc;
	padding: 5px 10px;
	position:relative;
}

#email #reply {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	padding-left: 10px;
}

.oneline {
	display:block;
	overflow:hidden;
	height:20px;
	margin: -1px 0 25px -5px;
}

.emailfooter {
	border-top: 1px solid #ccc;
	padding: 10px 0;
}

.emailform {
	margin-top:-10px;
	width:100%;
}


/* Other panels */
.entry {
	background:rgba(255,255,255,.8);
	padding:10px;
}

#box1 { background: url(../images/bg/slide1.jpg) 20% 0 no-repeat fixed; }
#box1 .entry { background:none;}
#box1 .notes { width: 400px; float:right; margin-right: 40px; 	-moz-box-shadow: -4px 3px 3px #333;background: url(../images/paper1.jpg);}

#box2 { background: url(../images/bg/slide2.jpg) 50% 0 no-repeat fixed; width:1400px;}
#box2 .notes { width:35%; float:right; padding-right:250px; }

#box3 .photo {float: left; padding: 5px;}
#box3 .entry { width:90%; margin: 0 auto; clear:both;}
#box3 .notes { clear:both; margin: 10px;}

#box5 {/*background: url(../images/bg/slide5.jpg) 50% 0 no-repeat fixed; */}

#box5 .entry {
	width:35%;
	float:left;
	margin: 0 30px;
}

#box5 .notes {
	width:300px; 
	margin-top:-10px;
}

.headshots {
	float:left;
	width:300px;
	margin: 60px 0 0 -35px;
}

.headshots img {
	padding: 10px;
	background: #eee;
	border: 1px solid #fff;
	-moz-box-shadow: 0px 2px 15px #333;
	position:relative;
}

.headshots #head1 { 
	z-index: 1;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all  0.3s ease;
}

.headshots #head2 { 
	z-index: 5;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	top:-180px;
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all  0.3s ease;
}

.headshots #head3 { 
	z-index: 10;
	-webkit-transform: rotate(-11deg);
	-moz-transform: rotate(-11deg);
	top:-370px;
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all  0.3s ease;
}

.spread #head1, .spread #head2, .spread #head3  {
	top: 0px;
	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all  0.3s ease;
}

#drop {
	width:300px;
	height:500px;
	float:right;
	margin-right:-50px;
}

#drop .droparea {
	width:250px;
	height:48px;
	border: 5px dashed #ccc;
	text-align:center;
	padding:70px 0;
	margin: 20px 0;
}

.untransform {
	-webkit-transform: none; /* Safari and Chrome */
	-moz-transform: none; /* Firefox */
	-ms-transform: none; /* IE 9 */
	-o-transform: none; /* Opera */
	transform: none;
}

/*utility classes*/
.clearing {
	clear:both;
}


/* iPad Landscape */
@media screen and (min-device-width: 768px) and (max-device-width: 1124px) {
#container {
	width:100%;
	padding:0;
	margin:0;
	position:static;
}
.box, header {
	width:100%;
	height:760px;
	clear:both;
	padding:10px;
	margin:0;
}
#menu{
display:none;
}
}
