@font-face {
    font-family: 'OldParks';
    src: url('type/old_parks-webfont.eot');
    src: url('type/old_parks-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/old_parks-webfont.woff') format('woff'),
         url('type/old_parks-webfont.ttf') format('truetype'),
         url('type/old_parks-webfont.svg#OldParks') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CabinRegular';
    src: url('type/Cabin-Regular-webfont.eot');
    src: url('type/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Cabin-Regular-webfont.woff') format('woff'),
         url('type/Cabin-Regular-webfont.ttf') format('truetype'),
         url('type/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('type/Cabin-Italic-webfont.eot');
    src: url('type/Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Cabin-Italic-webfont.woff') format('woff'),
         url('type/Cabin-Italic-webfont.ttf') format('truetype'),
         url('type/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('type/Cabin-Medium-webfont.eot');
    src: url('type/Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Cabin-Medium-webfont.woff') format('woff'),
         url('type/Cabin-Medium-webfont.ttf') format('truetype'),
         url('type/Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('type/Cabin-MediumItalic-webfont.eot');
    src: url('type/Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Cabin-MediumItalic-webfont.woff') format('woff'),
         url('type/Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('type/Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('type/Cabin-SemiBold-webfont.eot');
    src: url('type/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Cabin-SemiBold-webfont.woff') format('woff'),
         url('type/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('type/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('type/Cabin-SemiBoldItalic-webfont.eot');
    src: url('type/Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('type/Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('type/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('type/Cabin-Bold-webfont.eot');
    src: url('type/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Cabin-Bold-webfont.woff') format('woff'),
         url('type/Cabin-Bold-webfont.ttf') format('truetype'),
         url('type/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('type/Cabin-BoldItalic-webfont.eot');
    src: url('type/Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('type/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('type/Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Special Elite';
    src: url('type/SpecialElite.ttf');
    font-weight: normal;
    font-style: normal;

}

p {
	margin-bottom: 1em;
}

/* Headers -------------------------------------------*/
.entry h1 {
	font-family: 'OldParks', Cambria, Georgia, Times, 'Times New Roman', serif;
	font-size: 24px;
}

.entry h2 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	text-transform:uppercase;
	letter-spacing: 5px;
	padding-bottom: 24px;
}


/* First panel (email) styles -----------------------------*/

#email {
	font-family: Arial, sans-serif;
	font-size: 12.8px; /* Gmail styles */
	color: #333333;
	line-height: 15.4167px;
	position:relative;
}

#email .icons {
	position: absolute;
	top:0;
	right:0;
}

#email h1 {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	padding: 5px 5px 16px 0;
}

.gmailname{
	color:#00681C;
	font-weight: bold;
}

#email a {
	color:#333333;
}

#reply img {
	vertical-align: middle;
}

/* Other panel styles */
.box p {
	font-family: 'Cabin', "Trebuchet MS", Arial, sans-serif;
	font-size: .875em;
}

.box .notes {
	font-family: 'Special Elite', 'American Typewriter', 'Courier New', Courier, sans-serif;
	font-size: .875em;
}

.box .notes em {
	text-decoration:underline;
}

.box .notes a:link, .box .notes a:visited {
	color:#164594;
	color:#9c2626;
}

.box .notes a:hover, .box .notes a:active, {
	
}

/*box 5 drop zones */
.droparea {
	font-family: 'Special Elite', 'American Typewriter', 'Courier New', Courier, sans-serif;
	font-size: 1.4em;
	color:#c6c6c6;
}